{% extends 'base.html.twig' %}

{% block body %}
    <div class="mdl-grid">
        {# Show rand button - Mobile devices #}
        <div class="mdl-cell mdl-cell--12-col mdl-cell--hide-desktop">
            <div class="mdl-grid">
                <div class="mdl-layout-spacer"></div>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-cell mdl-cell--6-col-tablet  mdl-cell--12-col-phone js-random-photo-button">
                    Show random photo
                </button>
                <div class="mdl-layout-spacer"></div>
            </div>
        </div>
        {# Show rand button - Mobile devices #}
        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
            {{ include('portfolio/upload_form.html.twig', {form:form}) }}
        </div>
        {# Show rand button - Desctop #}
        <div class="mdl-layout-spacer mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
        <div class="mdl-cell mdl-cell--5-col mdl-cell--hide-tablet mdl-cell--hide-phone">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-cell--12-col js-random-photo-button">
                Show random photo
            </button>
        </div>
        {# Show rand button - Desctop #}
    </div>

    <div class="mdl-grid" id="photos-list">
        {{ include('portfolio/photos_list.html.twig', {photos:photos}) }}
    </div>

{% endblock %}
{% block babel %}
<script type="text/babel">

    class PortfolioBuilder
    {
        constructor(formId, createUrl) {
            this.files = [];
            this.form = $("#" + formId).parent("form");
            this.createUrl = createUrl;

            this.retriever = null;
            this.listenSubmit(this.form);
        }

        setRetriever(retriever) {

            this.retriever = retriever;
        }

        sendPhoto($form) {

            let request = new FormData(this.form[0]);

            let $button = $form.find("button[type=submit]");

            this.files.forEach(({name, file}) => request.append(name, file));
            $button.attr("disabled", "disabled");

            $.ajax({
                type: "POST",
                url: this.createUrl,
                processData: false,
                contentType: false,
                data: request,
                success: (response) => {
                    if (response.status) {
                        let $newForm = $(response.html);
                        $form.replaceWith($newForm);

                        this.form = $newForm;
                        this.listenSubmit($newForm);

                        this.retriever.clear();
                        this.retriever.fetchNextPartImages();
                    }

                    $button.removeAttr("disabled");
                },
                error: (response, status, textStatus) => {
                    alert(textStatus);
                    $button.removeAttr("disabled");
                },
                dataType: "json"
            });
        }

        listenSubmit($form) {

            $form.on("submit", (event) => {
                this.sendPhoto($form);
                event.preventDefault();
            });

            $form.find("input[type=file]").on("change", (event) => {
                let input = $(event.target);
                this.files[input.attr("name")] = event.target.files[0];
            });
        }
    }


    class PortfolioRetriever
    {
        constructor(isNeedListenScroll, nextPartFirstId, selectors, urls) {

            this.layout = $(selectors.layout);
            this.content = $(selectors.content);
            this.photosList = $(selectors.photosList);
            this.randomPhotoButton = $(selectors.randomPhotoButton);

            this.imagesSourceUrl = urls.imagesSourceUrl;
            this.randomPhotoUrl = urls.randomPhotoUrl;

            this.nextPartFirstId = nextPartFirstId;

            if (isNeedListenScroll) {
                this.scrollEnabled = true;
                if (this.isScrolledBottom()) {
                    this.fetchNextPartImages();
                }

                this.listenScroll();
            } else {
                this.scrollEnabled = false;
            }

            this.randomPhotoButton.on("click", () => { this.fetchRandomImage() });
        }

        listenScroll() {
            this.scrollEnabled = true;
            this.layout.bind("scroll", () => {
                if (this.isScrolledBottom()) {
                    this.fetchNextPartImages();
                }
            });
        }

        clear() {
            this.nextPartFirstId = 0;
            this.photosList.empty();
        }

        disableListenScroll() {
            this.scrollEnabled = false;
            this.layout.unbind("scroll");
        }

        fetchNextPartImages() {
            this.requestProcessed = true;
            $.getJSON(this.imagesSourceUrl + "/" + this.nextPartFirstId, {}, (response) => {
                if (response.status) {
                    this.photosList.append(response.html);

                    this.nextPartFirstId = response.data.nextPartFirstId;

                    if (!response.data.isHasMore) {
                        this.disableListenScroll();
                    } else if (!this.scrollEnabled) {
                        this.listenScroll();
                    }

                    if (this.isScrolledBottom()) {
                        this.fetchNextPartImages();
                    }
                }
            });
        }

        fetchRandomImage() {
            $.getJSON(this.randomPhotoUrl, {}, (response) => {
                if (response.status) {
                    $("#modal-header").html(response.data.label);
                    $("#modal-content").html(
                            $("<img/>").attr({"src":response.data.url}).addClass("img-responsive")
                    );
                    $("#modal").modal();
                } else {
                    alert("Photo is not found.");
                }
            });
        }

        isScrolledBottom() {
            if (!this.scrollEnabled) {
                return false;
            }
            return this.layout.scrollTop() + this.layout.height() // Scroll bottom
                    >= this.content.height();                     // Content total height
        }
    }

    $(() => {
        let retriever = new PortfolioRetriever(
            {{ isHasMore ? "true" : "false" }}, {{ nextPartFirstId }}, {
                layout: "#layout",
                content: "#content",
                photosList: "#photos-list",
                randomPhotoButton: ".js-random-photo-button"
            }, {
                imagesSourceUrl: "{{ path('getPhotos') }}",
                randomPhotoUrl: "{{ path('getRandomPhoto') }}"
            }
        );

        let builder = new PortfolioBuilder(
                "{{ form.vars.id }}",
                "{{ path('create') }}"
        );

        builder.setRetriever(retriever);

    });
</script>
{% endblock %}