<div class="card-image mdl-card mdl-shadow--2dp" style="background: url('{{ asset('/uploads/' ~ fileName) }}') center / cover">
    <div class="mdl-card__title mdl-card--expand"></div>
    <div class="mdl-card__actions">
        <span class="card-image__filename">{{ label }}</span>
    </div>
</div>