{% extends 'json.html.twig' %}
{% block json_html %}
    {% for photo in photos %}
    <div class="mdl-cell mdl-cell--4-col">
        {{ include('portfolio/photo_item.html.twig', {label:photo.label, fileName:photo.fileName}) }}
    </div>
    {% endfor %}
{% endblock %}