{% extends 'json.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block json_html %}

    {{ form_start(form) }}
    {% if isUploaded == true %}
        <div class="alert alert-success" role="alert">Photo is successfully uploaded</div>
    {% endif %}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}