/* Layout */
.ribbon {
    width: 100%;
    height: 40vh;
    background-color: #3F51B5;
    flex-shrink: 0;
}

.main {
    margin-top: -35vh;
    flex-shrink: 0;
}

.header .mdl-layout__header-row {
    padding-left: 40px;
}

.container {
    max-width: 1600px;
    width: calc(100% - 16px);
    margin: 0 auto;
}

.content {
    border-radius: 2px;
    padding: 80px 56px;
    margin-bottom: 80px;
}

.layout.is-small-screen .content {
    padding: 40px 28px;
}

.content h3 {
    margin-top: 48px;
}

/* Photo item */
.card-image.mdl-card {
    width: 100%;
    height: 128px;
}
.card-image > .mdl-card__actions {
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.2);
}
.card-image__filename {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}