{% set html %}
{% block json_html %}{% endblock %}
{% endset %}
{% set response = {
    html: html,
    data: data is defined ? data : [],
    status: status is defined ? status : 1} %}
{{ response|json_encode|raw }}

